.header {
    padding: 28px 0 32px;
    background-color: $purple;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    &.active {
        & .header__nav {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }

        .burger-btn {
            span {
                opacity: 0;
                visibility: hidden;
            }

            &::before {
                transform: rotate(45deg);
                top: 43%;
            }

            &::after {
                transform: rotate(-45deg);
                bottom: 50%;
            }
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        text-align: center; 
    }

    &__company {

        @include respond-to('tablet') {
            padding-bottom: 10px;
        }
    }

    &__nav {
        display: flex;

        @include respond-to('mobile') {
            position: absolute;
            background-color: $purple;
            padding: 20px;
            top: 0;
            right: 0;
            width: 100%;
            transition: all ease-in-out 0.3s; 
            opacity: 0;
            visibility: hidden;
        } 
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        margin: 0 -20px;

        @include respond-to('mobile') {
            flex-direction: column;
            align-items: center;
            width: 100%; 
            margin: 0; 
        } 
    }

    &__list-item {
        color: $white;
        font-family: $aleo;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
        padding: 0 20px;
    }

    &__link-nav {
        color: $white;
        font-family: $aleo;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
        
        @include respond-to('mobile') {
            padding: 10px;
        }
        
        &:hover {
            color: $dark-grey;
        }
    }

    .burger-btn {
        display: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
        border: none;
        outline: none;
        width: 30px;
        height: 25px;

        @include respond-to('mobile') {
            display: block;
        } 

        span,
        &::before,
        &::after {
            content: '';
            position: absolute;
            height: 2px;
            border-radius: 4px;
            background-color: $white;
            transition: all ease-in-out 0.3s;
        }

        span {
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
        }

        &::before {
            top: 0;
            left: 0;
            width: 100%;
        }

        &::after {
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }
}