//Colors
$black: #000;
$white: #fff;
$purple: #5474fd;
$grey: #999999;
$white-grey: #e8e8e8;
$blue: #0b7dda;
$dark-grey: #333;
$light-black: #232323;
$light-white: #fefefe;
//Fonts
$aleo: 'Aleo';
$josefin: 'Josefin_Sans';